<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des articles</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="card mb-3">
            <div class="card-header text-white bg-primary"><h5 class="card-title text-center text-uppercase">Liste des articles</h5></div>
            <div class="card-body text-end">
                <form th:action="@{/index}" method="get">
                    <label>Keyword</label>
                    <input type="text" name="keyword" th:value="${keyword}">
                    <button type="submit" class="btn btn-primary"> Search </button>
                </form>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Description</th>
                        <th scope="col">Prix</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="a:${listArticle}">
                        <td th:text=${a.id}></td>
                        <td th:text=${a.description}></td>
                        <td th:text=${a.price}></td>
                        <td> <a class="btn btn-outline-primary">Add/cart</a> </td>
                        <td> <a class="btn btn-danger" th:href="@{/delete(id=${a.id}, page=${currentPage}, keyword=${keyword})}">Delete</a> </td>
                        <td> <a class="btn btn-info" th:href="@{/article_update}">Update</a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <ul class="pagination">
                    <li class="page-item" th:class="${currentPage==status.index}?'active':''" th:each="page,status:${pages}">
                        <a class="page-link" th:href="@{/index(page=${status.index},keyword=${keyword},categoryId=${categoryId})}" th:text="${status.index}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>