<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Panier</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="card mb-3">
            <div class="card-header text-white bg-primary"><h5 class="card-title text-center text-uppercase">Votre panier</h5></div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Description</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="a:${cartList}">
                        <td th:text=${a.id}></td>
                        <td th:text=${a.description}></td>
                        <td th:text=${a.price}></td>
                        <td></td>
                        <td class="col-1"> <a class="btn btn-danger" th:href="@{/rmFromCart(id=${a.id})}">Supprimer</a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <ul class="pagination">
                    <li class="page-item" th:class="${currentPage==status.index}?'active':''" th:each="page,status:${pages}">
                        <a class="page-link" th:href="@{/index(page=${status.index},keyword=${keyword},categoryId=${categoryId})}" th:text="${status.index}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>